@{
    ViewBag.Title = "Poisk";
}

<h2>Poisk</h2>
<form method="post" action="PostPoisk">
    <table style="width:30%" align="center">
        <tr>
            <td>Avtor FIO:</td>
            <td><input type="text" name="avtor" style="text-align:right" /></td>
        </tr>
        <tr style="height:5px"></tr>
        <tr style="height:5px"></tr>
        <tr>
            <td>Kitob nomi:</td>
            <td><input type="text" name="nomi" style="text-align:right" /></td>
        </tr>
        <tr style="height:5px"></tr>
        <tr>
            <td>Nashriyot nomi:</td>
            <td><input type="text" name="nashriyot" style="text-align:right" /></td>
        </tr>
        <tr>
            <td>Janri:</td>
            <td><input type="text" name="janr" style="text-align:right" /></td>
        </tr>
        <tr style="height:5px"></tr>
    </table><br />
    <center><input type="submit" value="OK" /></center>
</form>
