
@{
    ViewBag.Title = "Biz haqimizda";
}
<p></p><p></p><p></p>
<font style="color: aquamarine;font-size:large">Adress:&emsp;&emsp;&emsp;</font><font style="color:aqua;font-size:larger">Vuzgorodok,12-TTJ</font><br />
<font style="color: aquamarine; font-size: large">telefon:&emsp;&emsp;&emsp;</font><font style="color: aqua; font-size: larger">+998 998977197</font><br />
<font style="color: aquamarine; font-size: large">telegram:&emsp;&emsp;&emsp;</font><font style="color: aqua; font-size: larger">+998 942141693</font><br />

